@model IEnumerable<arlen.Models.Event>
<h2 class="main-caption col-lg-12 col-md-12 col-sm-12">Тренинги</h2>
<div class="owl-carousel news-events-owl owl-theme col-lg-10 offset-lg-1">
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <a class="item" href="/Events/EventDetails/@item.Id">
                    <div class="owl-text">
                        <span class="date">@item.Date.ToShortDateString()  @item.CreateTime.ToShortTimeString()</span>
                        <p class="title">@item.Title</p>
                    </div>
                    <div class="owl-image">
                        <img src='@item.Images' />
                    </div>
                </a>
            }
        }
    }
</div>
@Html.ActionLink("Все тренинги", "Index", "Events", null, new { @class = "full-pages-button col-xl-2 col-lg-2 col-md-4 col-sm-6 offset-xl-5 offset-lg-5 offset-md-4 offset-sm-3" })

