@model arlen.Models.Service
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details container-fluid">
    <div class="details-block container">
        <h1>@Model.Name</h1>

        <div class="details-content">
            @Html.Raw(Model.Text)
        </div>
        @{
            if (Model.File != null)
            {
                string[] file = Model.File.Split('|');
                if (file[0].Length > 0 && file[1].Length > 0)
                {
                    <div class="details-download">
                        <a href="@file[1]">
                            <span class="download-button">@file[0]</span>
                        </a>
                    </div>
                }
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            <div class="details-admin">
                <a href="@Url.Action("Edit", "Services", new { id = Model.Id })">
                    <span class="details-admin-edit">
                        Редактировать
                    </span>
                </a>
                @*<a href="/Services/Delete/@Model.Id" onclick="return confirm('Действительно удалить?');">
                        <span class="details-admin-remove">
                            Удалить
                        </span>
                    </a>*@
            </div>
        }
    </div>
</div>