<!--using PagedList.Mvc
using System.Web.Optimization;-->
@using System.Text.RegularExpressions;
<!--model PagedList.IPagedList<arlen.Models.Event>-->
@model IEnumerable<arlen.Models.Event>

@{
    ViewBag.Title = "Тренинги";
}

@*Styles.Render("~/Content/pagedlist")*@

<div class="events-index container-fluid">
    <div class="events-block container">
        <div class="events-header">
            <h1>Просмотрите список тренингов</h1>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="admin-block">
                <a href="@Url.Action("Create", "Events", new { area = "" })">
                    <span class="admin-create-button">Добавить</span>
                </a>
            </div>
        }
        <div class="events-content-block">
            @foreach (var item in Model)
            {
                string eventscontent = Regex.Replace(item.Content, @"&lt;.+?&gt;|&nbsp;|<[^>]*>", "").Trim();

                <div class="block-item col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1">
                    <img class="block-item-image" src="@item.Images" />
                    <div class="block-item-content">
                        <h3 class="title">@item.Title</h3>
                        <p class="content">@eventscontent</p>
                        <span class="datetime">@item.Date.ToShortDateString()</span>
                        <a class="details-link" href="/Events/EventDetails/@item.Id ">
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="pageSwitcher">
            Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

<script src="~/js/truncate-text.js"></script>
