@using System.Text.RegularExpressions;
@using arlen.Models.ViewModel;
@model EventViewModel;

@{
    ViewBag.Title = "Тренинги";
}

<div class="events-index container-fluid">
    <div class="events-block container">
        <div class="events-header">
            <h1>Просмотрите список тренингов</h1>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="admin-block">
                <a href="@Url.Action("Create", "Events", new { area = "" })">
                    <span class="admin-create-button">Добавить</span>
                </a>
            </div>
        }
        <div class="events-content-block">
            @foreach (var item in Model.PagedEventList)
            {
                string eventscontent = Regex.Replace(item.Content, @"&lt;.+?&gt;|&nbsp;|<[^>]*>", "").Trim();

                <div class="block-item col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-lg-1 offset-xl-1">
                    <img class="block-item-image" src="@item.Images" />
                    <div class="block-item-content">
                        <h3 class="title">@item.Title</h3>
                        <p class="content">@eventscontent</p>
                        <span class="datetime">@item.Date.ToShortDateString()</span>
                        <a class="details-link" href="/Events/Details/@item.Id ">
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="pageSwitcher">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   class="btn btn-info">Назад</a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-info">Вперед</a>
            }
        </div>
    </div>
</div>

<script src="~/js/truncate-text.js"></script>
