<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ООО "АРЛЕН"</title>
    <link rel="shortcut icon" href="~/Content/images/logo.png" type="image/png" />
    @*@Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
</head>
<body class="container-fluid">
    @{ Html.RenderPartial("HeaderPartial"); }
    <div class="main-page-content">
        @RenderBody()
    </div>
    @{ Html.RenderPartial("FooterPartial"); }
    <div id="map" style="height: 300px;">
        @{
            arlen.Infrastructure.AccountManager accManager = new arlen.Infrastructure.AccountManager();
            arlen.Models.User acc = accManager.GetAccount(1);
        }
        @Html.Raw(acc.Map)
    </div>
    @*@Scripts.Render("~/bundles/localscroll")*@
</body>
</html>